@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v29-latin-regular.woff2);
}

* {
    position:relative;
    z-index:100;
}

html, body {
    height:100%;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    text-align:center;
    background-color:#000000;
    margin:0;
    padding:0;
    
    
    
}
#wrapper {
   
    width:100%;
    background-color:black;
   
    background-size:cover;
}
#wrapper::after {
    content: '';
    
    background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.4934567577030813) 100%);

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 80%;
    z-index:1;
}

#whitelogo {
    width:30%;
}
#blacklogo {
    display:none;
}
.main {
    padding-top:30px;
    width:70%;
    margin:auto;
    height:40%;
    
   

}

.main img {
    height:70%;
    width:100%;
   
}

h1 {
    color:#fff;
    font-size:3em;
    text-transform: uppercase;
}
p,li {
    color:#ffffff;
    font-size:1.5em;
}

ul {
    list-style-type :none;
}

li {
    padding-top:.5em;
}
li a{
    color:coral;
}

h1 a {
    color:coral;
}

button {
    font-family:inherit;
    margin:30px;
    color:black;
    background-color:white;
    padding:20px;
    width:20em;
    font-size:1.5em;
    

}

@media only screen and (max-device-width: 600px) {
    
    button {
        font-family:inherit;
        margin:30px;
        color:black;
        background-color:white;
        padding:20px; 
        font-size:2.5em;
        
    }
    h1{
        font-size:4em;
    }
  }